<%- model_class = Debt -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div id="debts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @debts_by_date[date] %>
      <ul>
        <% @debts_by_date[date].each do |debt| %>
          <li><%= link_to debt.prestador, debt %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:monto) %></th>
      <th><%= model_class.human_attribute_name(:fechaPrestamo) %></th>
      <th><%= model_class.human_attribute_name(:fechaDevolucion) %></th>
      <th><%= model_class.human_attribute_name(:prestador) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= link_to debt.id, debt_path(debt) %></td>
        <td><%= debt.monto %></td>
        <td><%= debt.fechaPrestamo.day %>/<%= debt.fechaPrestamo.month %>/<%= debt.fechaPrestamo.year %></td>
        <td><%= debt.fechaDevolucion.day %>/<%= debt.fechaDevolucion.month %>/<%= debt.fechaDevolucion.year %></td>
        <td><%= debt.prestador %></td>
        <td><%= debt.active %></td>
        <td><%= debt.descripcion %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_debt_path(debt), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      debt_path(debt),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_debt_path,
            :class => 'btn btn-primary' %>
