<%- model_class = Debt -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div id="debts">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @debts_by_date[date] %>
      <ul>
        <% @debts_by_date[date].each do |debt| %>
          <li><%= link_to debt.prestador, debt %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

</br></br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:"多Cuanto debes?") %></th>
      <th><%= model_class.human_attribute_name(:"多En que fecha te prestaron el dinero?") %></th>
      <th><%= model_class.human_attribute_name(:"多En que fecha tienes que devolver el dinero?") %></th>
      <th><%= model_class.human_attribute_name(:"多A quien le debes?") %></th>
     
      
    </tr>
  </thead>
  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.monto %></td>
        <td><%= debt.fechaPrestamo.day %>/<%= debt.fechaPrestamo.month %>/<%= debt.fechaPrestamo.year %></td>
        <td><%= debt.fechaDevolucion.day %>/<%= debt.fechaDevolucion.month %>/<%= debt.fechaDevolucion.year %></td>
        <td><%= debt.prestador %></td>
       
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.actualizar")),
                      edit_debt_path(debt), :class => 'btn btn-mini' %>
          <%= link_to 'Descontar', descontar_path(debt.id), :class => 'btn btn-mini'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_debt_path,
            :class => 'btn btn-primary' %>
